.sign-container {

    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin-top: 50px;
    margin-bottom: 50px;
   
  }

  .sign-container form{
    border: none;
  }

  .sign-container h2{
    color: green;
  }

  .sign-container label{
    color: rgb(104, 103, 103);
  }

  .sign-container input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .phone-number{
    width: 100%;
  }

  .sign-container input:focus{
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .sign-container .sign-btn {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 350px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .sign-container .sign-btn:hover {
    background-color: rgb(57, 56, 56);
  }
  
  .sign-container .toggle-button {
    background-color: transparent;
    cursor: pointer;
    color: black;
    text-decoration: underline;
    margin-left: 200px;
  }
  
  .sign-container .toggle-button:hover {
    color: gray;
    background-color: transparent;
  }
  #error-message {
    position: fixed;
    top: 0;
    right: 0;
    background-color: green;
    color: whitesmoke;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeOut 1s ease 5s forwards;
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; display: none; }
  }
  
  
  